/*https://www.realtimecolors.com/?colors=f9f5fa-050406-ba92c3-2a192e-9f68ac&fonts=Poppins-Poppins*/

:root{
  --text: #F9F5FA;
  --background: #050406;
  --primary: #BA92C3;
  --secondary: #2A192E;
  --accent: #9F68AC;
}

.App {
  text-align: center;
}

*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}
body{
  background-color: var(--background);
  color: var(--text);
}

.listDefault{
  margin: 1rem;
}
.listDefault table{
  border-collapse: collapse;
  margin: auto;
  min-width: 30rem;
}
.listDefault table td,
.listDefault table th{
  border: 0.1rem solid #ddd;
  padding: 1rem;
}
.listDefault table thead tr{
  background-color: var(--secondary);
  text-align: center;
}

.navbar{
  display: flex;
  background-color: var(--secondary);
  height: 3rem;
}
.navbar *{
  text-decoration: none;
  color: var(--text);
}
.navbar .link{
  margin: auto 0.5rem;
  
}
.navbar .link:hover{
  opacity: 80%;
}

.loginForm{
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin: auto;
  padding-top: 10rem;
}
.loginForm *{
  margin-bottom: 1rem;
}
.loginForm input{
  height: 3rem;
}
.loginForm input:focus{
  outline: none;
}
.loginForm input[type='text'],
.loginForm input[type='password']{
  border: none;
  border-bottom: 0.2rem solid var( --primary);
  background-color: transparent;
  color: var(--text);
}
.loginForm input[type='submit']{
  background-color: var(--primary);
  border: none;
}
.loginForm input[type='submit']:hover{
  opacity: 80%;
  cursor: pointer;
}