.App {
  text-align: center;
}

*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}
body{
  background-color: #060407;
  color: #F9F5FA;
}

.listDefault{
  margin: 1rem;
}
.listDefault table{
  border-collapse: collapse;
  margin: auto;
  min-width: 30rem;
}
.listDefault table td,
.listDefault table th{
  border: 0.1rem solid #ddd;
  padding: 1rem;
}
.listDefault table thead tr{
  background-color: #2A192E;
  text-align: center;
}

.navbar{
  display: flex;
  background-color: #2A192E;
  height: 3rem;
}
.navbar *{
  text-decoration: none;
  color: white;
}
.navbar .link{
  margin: auto 0.5rem;
  
}
.navbar .link:hover{
  opacity: 80%;
}