/*https://www.realtimecolors.com/?colors=f9f5fa-050406-ba92c3-2a192e-9f68ac&fonts=Poppins-Poppins*/
/*https://www.realtimecolors.com/?colors=eaede8-12140f-b9c9ca-211d25-987976&fonts=Poppins-Poppins*/

:root{
  --text: #eaede8;
  --background: #12140f;
  --cards-background: #1b1b1b;
  --primary: #b9c9ca;
  --secondary: #221d26;
  --accent: #987976;
}

.App {
  text-align: center;
}

*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}
body{
  background-color: var(--background);
  color: var(--text);
}

button{
  padding: 0.2rem;
  background-color: var(--accent);
  border: none;
  color: var(--text);
}
button:hover,
input[type='file']::file-selector-button:hover{
  opacity: 80%;
  cursor: pointer;
}
input[type='file']::file-selector-button{
  visibility: hidden;
}
.profilePictureLabel:hover{
  opacity: 80%;
  cursor: pointer;
}
.profilePictureDiv{
  display: flex;
  font-size: 12px;
  margin: 1rem 0;
}

.homeCard{
  background-color: var(--cards-background);
  border-radius: 0.5rem;
  margin: 3rem 5rem;
  padding: 3rem;
}
.homeCard *{
  margin: 2rem auto;
}
.homeCard h1{
  font-size: 64px;
}

.defaultTable{
  margin: 1rem;
  overflow-x:auto;
}
.defaultTable table{
  border-collapse: collapse;
  margin: auto;
  min-width: 30rem;
}
.defaultTable table td,
.defaultTable table th{
  border: 0.1rem solid var(--secondary);
  padding: 0.5rem;
}
.defaultTable table thead tr{
  background-color: var(--cards-background);
  text-align: center;
}
.defaultTable table td button{
  margin: 0.3rem;
}

.navbar{
  display: flex;
  background-color: var(--cards-background);
  align-items: center;
  height: 3rem;
}
.navbar *{
  text-decoration: none;
  color: var(--text);
}
.navbar .link{
  margin: auto 0.5rem;
}
.navbar .link:hover{
  opacity: 80%;
}
.navbar .user{
  margin-left: auto;
  display: flex;
}
.navbar .userLink{
  margin: auto 0.5rem auto auto;
}
.navbar .user .profilePic{
  width: 2rem;
  border-radius: 50%;
}

.defaultForm{
  background-color: var(--cards-background);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  width: 15rem;
  margin: 2rem auto;
  padding-top: 1rem;
  border-radius: 1rem;
}
.defaultForm *{
  margin-bottom: 1rem;
}
.defaultForm input{
  height: 3rem;
}
.defaultForm input:focus{
  outline: none;
}
.defaultForm input[type='text'],
.defaultForm input[type='password'],
.defaultForm input[type='email'],
.defaultForm input[type='number'],
.defaultForm input[type='date'],
.defaultForm textarea,
.defaultForm select{
  border: none;
  border-bottom: 0.2rem solid var( --primary);
  background-color: transparent;
  color: var(--text);
}
.defaultForm textarea{
  resize: vertical;
}
.defaultForm select option{
  background-color: var(--background);
}
.defaultForm input[type='submit']{
  background-color: var(--primary);
  border: none;
}
.defaultForm input[type='submit']:hover{
  opacity: 80%;
  cursor: pointer;
}
.defaultForm img{
  margin: 1rem auto;
}

.profileHeader{
  margin: 1rem 0;
}
.profileHeader h2{
  margin: 0 5rem;
}
.profileHeader .profilePic{
  width: 10rem;
  height: 10rem;
  background-color: var(--text);
  border-radius: 50%;
  margin: 0 auto;
}
.profileContent{
  margin: 1rem 0;
}

.profilePic{
  width: 3rem;
  border-radius: 50%;
}